<html>
    <head>
        <title>VUE</title>
    </head>
    <body>
       
        <div id="app">
            <div class="box">
                <h3 class="title">All Tasks</h3>
                <ul id="tasks">
                    <li v-on:click="checkTask($event)" v-for="task in pendingTasks" v-bind:id="task.id">{{ task.description }} <span class="tag" v-bind:class="task.style">{{ task.priority }}</span></li>
                </ul>
            </div>
            
            <div class="box">
                <h3 class="title">Completed</h3>
                <ul id="completed">
                    <li v-on:click="checkTask($event)" v-for="task in completedTasks" v-bind:id="task.id">{{ task.description }}</li>
                </ul>
            </div>
            
            <div class="box">
                <h3 class="title">Add New Task</h3>
                <input class="input" id="add-task" type="text" v-model="newTask">
                <div id="select-priority">
                    
                    <label>
                        <input v-on:click="selectPriority($event)" type="radio" value="Low" name="options" id="option1" checked data-priority="success"> Low
                    </label>
                    <label>
                        <input v-on:click="selectPriority($event)" type="radio" value="Medium" name="options" id="option2" data-priority="warning"> Medium
                    </label>
                    <label>
                        <input v-on:click="selectPriority($event)" type="radio" value="High" name="options" id="option3" data-priority="danger"> High
                    </label>
                    
                </div>
                <button class="button is-primary is-medium is-outlined" v-on:click="addTask">Add Task</button>
            
            </div>
            
        </div>
       
        <script src="js/vue.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>